.product_pop{
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  padding: 5vw 10vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  .content{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;

    >div{
      width: 100%;
      height: 100%;

      &::after{
        content: '';
        display: block;
        clear: both;
      }
      >.pic{
        width: 40%;
        height: 100%;
        float: left;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      >.con{
        width: 60%;
        height: 100%;
        overflow-y: scroll;
        float: left;
        padding: 50px 30px;
        h2{
          font: 700 30px/1 $specialFont;
          color: $pointColor;
          margin-bottom: 20px;
        }
        p{
          font: 20px/1.4 $noto;
          color: #111;
          margin-bottom: 80px;
        }

        .conWrap{
          article{
            width: 100%;
            margin-bottom: 50px;

            &::after{
              content: '';
              display: block;
              clear: both;
            }
            h3{
              float: left;
              width: 20%;
              font: 700 20px/1 $poinFont;
              color: #000;
              margin-top: 5px;
            }
            h4{
              float: left;
              width: 80%;
              white-space: pre-wrap;
              font: 16px/2 $noto;
              color: #444;
              padding-left: 20px;
            }
          }
        }
      }
    }




    >.close{
      width: 35px;
      height: 35px;
      position: absolute;
      color: $pointColor;
      top: -60px;
      right: 0;
      
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        filter: invert(1);
      }
    }
  }
  
}