#pList{
  background-color: #fff;
  width: 100%;
  position: relative;
  &::after{
    content: '';
    display: block;
    clear: both;
  }
  .inner{
    width: 77%;
    float: right;
    padding-top: 30vh;
    // transform: translateY(-20vh);
    // margin-top: -20vh;
    .pLayout{
      width: 100%;
      background: linear-gradient(#111 50%, #ffffff 50%);
      &::before{
        content: '';
        display: block;
        width: 1px;
        height: 100px;
        margin-left: 58.5vw;
        background-color: #bbb;
      }
      &::after{
        content: '';
        display: block;
        clear: both;
      }
      .left{
        float: left;
        width: 30%;
        height: 580px;
        top: 0;
        left: 0;
        border: 1px solid #bbb;
        border-bottom: none;
        padding: 50px;
        h3{
          font: 35px/1.3 'Exo';
          color: #fff;
          margin-bottom: 20px;
        }
        p{
          font: 14px/1 $poinFont;
          color: #fff;
          margin-bottom: 50px;
        }
        img{
          width: 80%;
          float: right;
          object-fit: cover;
        }
      }
      .right{
        float: right;
        width: 70%;
        height: 580px;
        right: 0;
        top: 0;
        border-top: 1px solid #bbb;
        padding: 50px;
        display: flex;
        justify-content: space-between;
        .rCon{
          >p{
            font: 12px/1 $poinFont;
            color: #fff;
            margin-bottom: 20px;
          }
          h3{
            font: 35px/1.3 'Exo';
            color: #fff;
          }
        }
        
        img{
          width: 50%;
          float: right;
          object-fit: cover;
        }
      }
      
    }
  }
}

@media screen and (max-width: $tablet) {
  #pList{
    overflow: hidden;
    .inner{
      width: 100%;

      .pLayout{
        .left{
          height: 300px;
          padding: 20px;
          h3{
            font: 25px/1.3 'Exo';
            margin-bottom: 20px;
          }
          p{
            font: 14px/1 $poinFont;
            color: #fff;
            margin-bottom: 30px;
          }
          
        }
        .right{
          height: 300px;
          padding: 20px;
          .rCon{
            >p{
              font: 12px/1 $poinFont;
              color: #fff;
              margin-bottom: 20px;
            }
            h3{
              font: 25px/1.3 'Exo';
              color: #fff;
            }
          }
        }
      }
    }
  }
}



@media screen and (max-width: $mp) {
  #pList{
    .inner{
      width: 100%;
      .articleWrap{
        article{
          &:nth-of-type(5), &:nth-of-type(6){
            display: none;
          }
          .pic{
            height: 50vh;
          }
        }
      }
      .pLayout{
        &::before{
          height: 50px;
        }
        .left{
          height: 250px;
          padding: 20px;
          h3{
            font: 20px/1.3 'Exo';
            margin-bottom: 10px;
          }
          p{
            font: 14px/1 $poinFont;
            mix-blend-mode: difference;
            margin-bottom: 0;
          }
          
        }
        .right{
          height: 250px;
          padding: 20px;
          .rCon{
            >p{
              font: 12px/1 $poinFont;
              color: #fff;
              margin-bottom: 20px;
            }
            h3{
              font: 20px/1.3 'Exo';
              mix-blend-mode: difference;
            }
          }
          img{
            width: 55%;
          }
        }
      }
    }
  }
}