#text{
  width: 100%;
  height: 600px;
  background-color: #fff;
  padding-top: 100px;
  overflow: hidden;
  &::after{
    content: '';
    display: block;
    clear: both;
  }
  .inner{
    width: 77%;
    float: right;

    &::after{
      content: '';
      display: block;
      clear: both;
    }
    .mainTxt{
      width: 20%;
      float: left;
      
      h2{
        font:bold 33px/1.4 $poinFont;
        color: #000;
        margin-bottom: 20px;
      }
      h3{
        font: 25px/1.4 $poinFont;
        color: #333;
        margin-bottom: 10px;
      }
      p{
        font: 14px/1 $poinFont;
        color: #777;
        margin-bottom: 60px;
      }

      >button{
        border:1px solid  #111;
        a{
          padding: 10px 20px;
          background-color: #fff;
          display: block;
          color: #111;
          font:12px/1 $specialFont;
          transition: .5s;

          .fa-arrow-right-long{
            padding-left: 15px;
            color: #111;
            transition: .5s;
          }

          &:hover{
            background-color: #111;
            color: #fff;
            .fa-arrow-right-long{
              color: #fff;
            }
          }
        }
        
      }
    }

    .pic{
      width: 40%;
      float: left;
      transform: translate(50px);
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .subTxt{
      width: 20%;
      float: left;
      padding: 150px 0;
      margin-left: 60px;
      h4{
        font: bold 12px/1 $specialFont;
        color: $pointColor;
        margin-bottom: 10px;
      }
      p{
        font: 22px/1.4 $poinFont;
        color: #000;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  #text{
    height: 550px;
    padding-top: 50px;
    
    .inner{
      padding: 0 20px;
      width: 100%;
  
      .mainTxt{
        width: 25%;
        h2{
          font:bold 28px/1.4 $poinFont;
        }
        h3{
          font: 22px/1.4 $poinFont;
        }
        p{
          font: 14px/1 $poinFont;
          color: #777;
          margin-bottom: 60px;
        }
      }
  
      .pic{
        width: 40%;
        float: left;
        transform: translate(50px);
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .subTxt{
        margin-left: 80px;
        h4{
          font: bold 12px/1 $specialFont;
          color: $pointColor;
          margin-bottom: 10px;
        }
        p{
          font: 22px/1.4 $poinFont;
          color: #000;
        }
      }
    }
  }
}


@media screen and (max-width: $mp) {
  #text{
    height: 550px;
    padding-top: 50px;
    
    .inner{
      padding: 0 20px;
      width: 100%;
  
      .mainTxt{
        width: 100%;
        h2{
          font:bold 28px/1.4 $poinFont;
        }
        h3{
          font: 22px/1.4 $poinFont;
        }
        p{
          font: 14px/1 $poinFont;
          color: #777;
          margin-bottom: 40px;
        }
      }
  
      .pic{
        width: 50%;
        float: left;
        transform: translateX(31vw);
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .subTxt{
        display: none;
      }
    }
  }
}