#dep{
  background-color: #f2f2f2;
  .visualWrap{
    width: 100%;
    height: 100vh;
    .visualTxt{
      font-family: 'Fjalla One';
      font-weight: 600;
      transform: rotate(90deg);
      position: absolute;
      right: 0;
      top: 50%;
      bottom: 50%;
      font-size: 40px;
      height: 60px;
      opacity: 0;
      transition: 1s;
    }
    figure{
      padding: 400px 600px 150px 100px;
      width: 90%;
      height: 100%;
      background:url(../../../public/img/department/main_img.jpg) no-repeat top/cover;
      position: relative;
      opacity: 0;
      transform: translateX(-200px);
      transition: 1s;
      transition-delay: 0s;

      h2{
        font-family: $poinFont;
        font-weight: 600;
        color: $pointColor;
        font-size: $fontXXXL;
        margin-bottom: 30px;
        opacity: 0;
        transform: translateX(-100px);
        transition: 1s;
        transition-delay: .5s;
      }
      p{
        font-family: $noto;
        font-size: $fontL;
        color: #bbb;
        line-height: 1.6;
        opacity: 0;
        transform: translateX(-100px);
        transition: 1s;
        transition-delay: .9s;
      }

      .btns{
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: 1s;
        transition-delay: .9s;

        .fa-angle-left, .fa-angle-right{
          padding: 40px;
          background-color: #fff;
          font-size: 20px;
          float: left;
        }
      }
    }
  }
  .Department{
    position: relative;
    
    .wrap{
      width: 100%;
      &::after {
				content: '';
				display: block;
				clear: both;
			}

      h4{
        width: 30%;
        padding: 20px 40px;
        background-color: #111;
        font: 600 18px/1 $poinFont;
        color: $pointColor;
      }
      .conWrap{
        width: 100%;
        height: 350px;
        margin-bottom: 120px;
        .left{
          float: left;
          width: 80%;
          height: 100%;
          padding: 100px 50px;
          background-color: #fff;
          h3{
            font: 600 28px/1.5 $poinFont;
            color: #111;
            margin-bottom: 20px;
          }
          p{
            font: 18px/1.4 $poinFont;
            color: #333;

          }
        }
        .right{
          float: left;
          width: 20%;
          height: 100%;
          padding: 70px 30px;
          background-color: #000;
          img{
            width: 20%;
            object-fit: cover;
            margin-bottom: 30px;
          }
          h3{
            font: 600 25px/1 $poinFont;
            color: #fff;
            margin-bottom: 20px;
          }
          p{
            font: 16px/1.4 $poinFont;
            color: #fff;
          }
        }
      }
      
      article{
        width: 25%;
        float: left;

        .pic{
          width: 100%;
          height: 300px;
          background: #000;
          // filter: saturate(0.2);
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.5s;

          }
          .con{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $pointColor;
            padding: 100px 0;
            transform: translateY(100px);
            opacity: 0;
            transition: .5s;
            h5{
              font: 600 20px/1 $poinFont;
              color: #fff;
              text-align: center;
              &::after{
                content: '';
                display: block;
                width: 20%;
                height: 2px;
                margin: 50px auto;
                background-color: #fff;
              }
            }
            p{
              font: 17px/1 $poinFont;
              color: #fff;
              text-align: center;
            }
          }
          &:hover {
            img{
              filter: saturate(0);
            }
            
            .con{
              transform: translateY(0);
              opacity: .7;
              cursor: pointer;

            }
          }
        }
        &:nth-of-type(2){
          .pic{
            background-color: #f2f2f2;
            img{
              display: none;
            }
            .con{
              display: none;
            }
          }
        }
        &:nth-of-type(8){
          .pic{
            background-color: #f2f2f2;
            img{
              display: none;
            }
            .con{
              display: none;
            }
          }
        }
        &:nth-of-type(10){
          width: 50%;
          height: 600px;
          position: relative;
          .pic{
            height: 100%;
            background-color: #000;
            &::before{
              content: 'We are all in beats.by dr.dre';
              display: block;
              color: $pointColor;
              font: 600 33px/1.3 'Fjalla One';
              padding: 60px;
            }
            img{
              display: none;
            }
            .con{
              display: none;
            }
            &::after{
              content: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit odio iste beatae consectetur laborum. Alias accusantium ullam accusamus omnis vel!';
              font: 600 20px/1.4 $poinFont;
              color: #bbb;
              padding: 60px;
              position: absolute;
              bottom: 0;
              right: 0;
              text-align: right;
            }
          }
        }
        &:nth-of-type(12){
          .pic{
            background-color: #f2f2f2;
            img{
              display: none;
            }
            .con{
              display: none;
            }
          }
        }
        &:nth-of-type(15){
          .pic{
            background-color: #f2f2f2;
            img{
              display: none;
            }
            .con{
              display: none;
            }
          }
        }
        
      }
      
    }
  }

  &.on{
    .visualWrap{
      .visualTxt{
        right: -120px;
        opacity: 1;
      }
      figure{
        opacity: 1;
        transform: translateX(0);
        h2{
          opacity: 1;
          transform: translateX(0);
        }
        p{
          opacity: 1;
          transform: translateX(0);
        }
        .btns{
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}


