

.Notice {
  background-color: #222;
	> .inner {
    padding: 150px 0 200px 0;
    h3{
      font-size: $fontXXXL;
      font-family: $specialFont;
      color: $pointColor;
      letter-spacing: 2px;
      text-align: center;
      margin-bottom: 30px;
    }
    >p{
      width: 100%;
      padding: 0 5vw;
      font-size: 20px;
      line-height: 1.4;
      font-family: $poinFont;
      color: #bbb;
      text-align: center;
      margin-bottom: 100px;
    }

    .hWrap{
      width: 30%;
      padding: 20px;
      background-color: $pointColor;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      
      h4{
        font: 700 18px/1 $poinFont;
        color: #222;
      }
      .icon{
        color: #000;
      }
    }
    // span{
    //   display: block;
    //   width: 100%;
    //   height: 2px;
    //   background-color: #000;
    // }
    
		.inputBox {
			width: 100%;
			margin-bottom: 100px;
      border: 2px solid $pointColor;
      border-top: 2px solid $pointColor;
      background-color: #f3f1f1;
      padding: 40px 30px;
      display: flex;
      justify-content: space-between;
      align-content: center;
      
      .txtSet{
        width: 70%;
        input[type='text']{
          width: 30%;
          padding: 10px 20px;
          border: none;
          border-bottom: 2px solid #333;
          resize: none;
          background-color: transparent;
          margin-bottom: 50px;
        }
        textarea{
          resize: none;
          padding: 10px 20px;
          width: 50%;
          border: none;
          border-bottom: 2px solid #333;
          margin-bottom: 20px;
          background-color: transparent;
        }
      }
			.btnSet {
        width: 30%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
				button {
					width: 180px;
					height: 50px;
					border: none;
					background: #000;
					color: $pointColor;
          font-family: $specialFont;
          letter-spacing: 2px;
					cursor: pointer;
					margin-right: 20px;
				}
			}
		}

		.showBox {
			width: 100%;
			border-top: 2px solid $pointColor;
      .head{
        width: 100%;
        padding: 20px 15px;
        border: none;
        border-bottom: 2px solid $pointColor;
        &::after{
          content: '';
          display: block;
          clear: both;

        }
        h1{
          width: 20%;
          float: left;
          font:bold 15px/30px $noto;
          color: #bbb;
        }
        h2{
          width: 30%;
          float: left;
          font: bold 15px/30px $noto;
          color: #bbb;
        }
        p{
          float: left;
          width: 50%;
          font: bold 15px/30px $noto;
          color: #bbb;
        }
        
      }
			article {
				padding: 30px 15px;
				display: flex;
				justify-content: space-between;
				align-content: center;
				flex-wrap: wrap;
        border-bottom: 1px solid $pointColor;
        .txt{
          width: 80%;
          content: '';
          display: block;
          clear: both;
          h1{
            width: 20%;
            float: left;
            font: 20px/30px $specialFont;
            color: #bbb;
          }
          h2{
            width: 30%;
            float: left;
            font: bold 18px/30px $noto;
            color: #bbb;
          }
          >p{
            float: left;
            width: 50%;
            font: 18px/30px $noto;
            color: #bbb;
          }
        }
				.btnSet {
          width: 20%;
					display: flex;
					align-items: center;

					button {
						width: 49%;
						height: 40px;
            background-color: $pointColor;
            border: none;
            color: #000;
            font-weight: bold;
						display: flex;
            font-family: $specialFont;
            letter-spacing: 2px;
						justify-content: center;
						align-items: center;
						font-size: $fontS;
						margin-left: 10px;
						cursor: pointer;
					}
				}

				.editTxt {
					width: 60%;
					input[type='text'],
					textarea {
						width: 100%;
						padding: 4px 8px;
						border: 1px solid #aaa;
						margin-bottom: 10px;
						resize: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
  .Notice {
    > .inner {
      padding: 150px 20px;
      margin: 0;
      h3{
        font-size: $fontXXXL;
      }
      >p{
        font-size: 18px;
      }
  
      .hWrap{
        width: 60%;
      }
      .inputBox {
        flex-wrap: wrap;
        .txtSet{
          width: 70%;
          input[type='text']{
            width: 80%;
          }
          textarea{
            width: 100%;
            margin-bottom: 40px;
          }
        }
        .btnSet {
          width: 100%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          button {
            width: 180px;
            height: 50px;
            border: none;
            background: #000;
            color: $pointColor;
            font-family: $specialFont;
            letter-spacing: 2px;
            cursor: pointer;
            margin-right: 20px;
          }
        }
      }
  
      .showBox {
        .head{
          width: 100%;
          padding: 20px 15px;
          border: none;
          border-bottom: 2px solid $pointColor;
          
          h1{
            width: 15%;
            font:bold 16px/30px $noto;
          }
          h2{
            width: 30%;
            font: bold 16px/30px $noto;
          }
          p{
            width: 50%;
            font: bold 16px/30px $noto;
          }
          
        }
        article {
          .txt{
            width: 70%;
            content: '';
            display: block;
            clear: both;
            h1{
              font: 18px/30px $specialFont;
            }
            h2{
              font: bold 16px/30px $noto;
            }
            >p{
              font: 16px/30px $noto;
            }
          }
          .btnSet {
            width: 30%;
          }
  
          .editTxt {
            width: 60%;
            input[type='text'],
            textarea {
              width: 100%;
              padding: 4px 8px;
              border: 1px solid #aaa;
              margin-bottom: 10px;
              resize: none;
            }
          }
        }
      }
    }
  }
}