.visualWrap{
  width: 100%;
  height: 100vh;
  .visualTxt{
    font-family: 'Fjalla One';
    font-weight: 600;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 50%;
    font-size: 40px;
    height: 60px;

    opacity: 0;
    transition: 1s;
  }
  figure{
    width: 90%;
    height: 100%;
    position: relative;
    position: relative;
    transform: translateX(-200px);
    opacity: 0;
    transition: 1s;
    transition-delay: .3s;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(1) brightness(0.8);
    }
    .vTxt{
      width: 50%;
      position: absolute;
      bottom: 8vw;
      left: 5vw;

      h2{
        font-family: $poinFont;
        font-weight: 700;
        color: $pointColor;
        font-size: $fontXXXL;
        margin-bottom: 30px;
        transform: translateX(-200px);
        opacity: 0;
        transition: 1s;
        transition-delay: .8s;
      }
      p{
        font-family: $noto;
        font-size: $fontL;
        color: #bbb;
        line-height: 1.6;
        transform: translateX(-200px);
        opacity: 0;
        transition: 1s;
        transition-delay: 1.3s;
      }
    }
    
  }
  &.on{
    .visualTxt{
      right: -120px;
      opacity: 1;
    }
    figure{
      transform: translateX(0);
      opacity: 1;
      .vTxt{
        h2{
          opacity: 1;
          transform: translateY(0);
        }
        p{
          opacity: 1;
          transform: translateX(0);
        }      
      }
    }
  }
}

.Youtube {
  .inner{
    padding: 150px 0;
    h4{
      width: 30%;
      padding: 20px 40px;
      background-color: #111;
      font: 700 18px/1 $poinFont;
      color: $pointColor;
    }
    article {
      width: 100%;
      border-top: 1px solid #111;
      padding: 30px 20px;
      position: relative;
      overflow: hidden;
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: space-between;
      // align-items: center;


      &::after{
        content: '';
        display: block;
        clear: both;
      }


      h1{
        position: relative;
        float: left;
        width: 15%;
        height: 220px;
        text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
        color: #f2f2f2;
        font-size: $fontXXXL;
        font-family: 'Rammetto One';
        letter-spacing: 4px;
        padding: 3vw 0;
        transition: .6s;
        cursor: default;
      }
  
      h3 {
        position: relative;
        float: left;
        width: 40%;
        height: 220px;
        font-weight: bold;
        font-size: $fontXL;
        font-family: 'Fjalla One';
        font-weight: 700;
        color: #000;
        padding: 4vw;
        cursor: default;
        
        }
      
      .play{
        position: relative;
        width: 5%;
        float: left;
        padding: 4vw 0;
        img{
          width: 100%;
          object-fit: cover;
          cursor: pointer;
          opacity: .3;
          transition: .5s;
          
          &:hover{
            transform: scale(1.3);
            filter: invert(39%) sepia(30%) saturate(6251%) hue-rotate(340deg) brightness(93%) contrast(93%);
          }
        }
      }

      .txt {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -500px;
        width: 40%;
        transition: .5s;
        opacity: 0;
        padding-left: 3vw;
        cursor: default;
  
        p {
          font-size: $fontL;
          line-height: 1.4;
          font-family: $poinFont;
          font-weight: 700;
          color: #111;
          margin-bottom: 20px;
        }
  
        .span {
          font-size: $fontM;
          font-family: $poinFont;
          color: $pointColor;
          letter-spacing: 1px;
        }
      }
  
      .pic {
        position: relative;
        float: left;
        width: 40%;
        height: 220px;
        background: #f2f2f2;
        // filter: saturate(0);
        transition: .5s;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: .5s;
        }
      }

      &:hover{
        h1{
          color: $pointColor;
          text-shadow: -1px 0px $pointColor, 0px 1px $pointColor, 1px 0px $pointColor, 0px -1px $pointColor;
        }
        .txt{
          right: 0px;
          opacity: 1;
        }
        h3{
          padding-left: 0;
        }
        .pic{
          width: 0%;
          img{
            width: 0%;
          }
        }
        .play{
          img{
            opacity: 1;
          }
        }
      }
    }
  }
	
}


@media screen and (max-width:$tablet) {
	.Youtube {
		article {
			
			h3 {
				width: 47%;
			}
	
			.txt {
				width: 50%;
			}
	
			.pic {
				width: 100%;
				margin-top:50px;
				margin-bottom: 80px;
			}
		}
	}
}
@media screen and (max-width:$mp) {
	.Youtube {
		article {
			
			h3 {
				width: 100%;
			}
	
			.txt {
				width: 100%;
				margin-top: 20px;
			}
	
			.pic {
				margin-top:40px;
				margin-bottom: 0;
				height: 120px;
			}
		}
	}
}
